.AndroidStudio2.3/
.ICEauthority
.Xauthority
.Xclients
.Xresources
.android/
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/
.dir_colors
.dmrc
.esd_auth
.ew.json
.extend.bashrc
.extend.xinitrc
.ff-theme-util_1strun
.gradle/
.guayadeque/
.icons/
.java/
.local/
.mono/
.mozilla/
.node-gyp/
.npm/
.oh-my-zsh/
.pki/
.profile
.screenlayout/
.thumbnails/
.vim/
.viminfo
.xfce4-session.verbose-log
.xfce4-session.verbose-log.last
.xinitrc
.xprofile
.xsession
.xsession-errors
.xsession-errors.old
.zcompdump-zqk-pc-5.3.1
.zsh-update
.zsh_history
.zshrc
Android/
Fiddler2/
Git/
*apk
xmonad.errors
xmonad.hi
xmonad.o
xmonad.state
xmonad-x86_64-linux
*.png
.gimp*
Desktop
Download
Documents
Rslsync
Videos
.PhpStorm2017.2
.WebStorm2017.2
.gem
.gnome
.ideaLibSources
.oracle_jre_usage
runtastic
